/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');

/* wildcard selector to override default */
* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* gerneral styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "zen dots", amaranth;
}
/* header */
header {
    background-color: white;
    padding: 0 2rem;
    position: relative;
    z-index: 98;
    width: 100%;
    box-shadow: 0 3px 3px white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Zen dots";
    color: #f2c40f;
    text-transform: uppercase;
    letter-spacing: 3px;
}

h4 {
    display: none;
}

#menu {
    font-size: 100%;
    letter-spacing: 3px;
    color: #f2c40f;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #f2c40f;
    display: none;
    top: 100%;
}
/* nav toggle NAV BAR DROPDOWN */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #f2c40f;
}
/* main content */
main {
    /* make main elemnt take up any surplus */
    flex: 1 0 auto;
    margin-top: 47px;
    background-image: url(../images/image4white.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 96%;
}
/* SEO image */
#seo-image {
    height: 600px;
    width: 100%;
    background: url("../images/image1yellow.jpg") no-repeat center center/cover;
    display: flex;
}
/* style for services and packages in hte main element */
#services {
    width: 90%;
    margin: 20px auto;
}

#services h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#packages > div {
    line-height: 30px;
    margin-bottom: 20px;
}

#packages p {
    padding: 0 20px;
}

#packages hr {
    border-top: 1px solid #f2c40f;
    margin: 5px 0;
}

/* style for SEO process and & 6 steps on SEO services page */
#our-seo-process {
    width: 90%;
    margin: 20px auto;
}

#our-seo-process {
    margin-bottom: 20px;
    text-align: left;
    font-size: 100%;
}

#six-steps div {
    line-height: 30px;
    margin-bottom: 20px;
}

#six-steps p {
    padding: 0 20px;
}

#six-steps hr {
    border-top: 1px solid #f2c40f;
    margin: 5px 0;
}

/* about us page style for map and contact us details */
#map-wrapper {
    height: 300px;
    margin-bottom: 55px;
    display: flex;
}

#map {
    height: 26rem;
    width: 50%;
    border: none;
}
/* about us page newsletter Sign UP thank you message */
#thank-you {
    border: solid #f2c40f 5px;
    padding: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
/* about us page newsletter Sign Up thank you message */
/* about us page Contact details & address */
#about-us {
    width: 90%;
    margin: 20px auto;
}

#about-us {
    margin-bottom: 20px;
    text-align: left;
    font-size: 80%;
}

#mission-people {
    width: 90%;
    margin: 20px auto;
    line-height: 30px;
}

#mission-people {
    margin-bottom: 20px;
    text-align: left;
    font-size: 100%;
}

/* ABOUT Us page Newsletter SEO Tips form */

/* Style the form element with a border around it*/
  form { 
    border: 20px solid #f1f1f1;
  }

/* Add some padding and a grey background color to containers */
  .container {
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit], input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #f2c40f;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  } 


/* bottom bannerbelow packages above footer */
#banner {
    background: url("../images/image4white.jpg") no-repeat center/cover;
    display: flex;
    height: 350px;
}
/* footer */
#social-media {
    text-align: center;   
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: white;
}
/* social media icons */
#social-media i {
    font-size: 200%;
    padding: 2%;
    color: black;
}

/* media query for brak points tables of 768px and larger ( note for HEADER )*/
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: white;  
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 270%;
        line-height: 60px;
        margin: 0 0.5rem;
    }

    #services,
    #packages {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    #services > div,
    #packages > div {
        width: 75%
    }

    #packages > div {
        text-align: left;
        align-self: flex-end;
    }




    
}

/* large devices of 992 and above */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #f2c40f;
    }
}
