/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');

/* wildcard selector to override default */
* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* gerneral styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "zen dots", amaranth;
}
/* header */
header {
    background-color: black;
    padding: 0 2rem;
    position: relative;
    z-index: 98;
    width: 100%;
    box-shadow: 0 3px 3px white;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Zen dots";
    color: #f2c40f;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#menu {
    font-size: 100%;
    letter-spacing: 3px;
    color: black;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.working {
    border-bottom: 1px solid black;
}

nav {
    position: absolute;
    background-color: #f2c40f;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #f2c40f;
    display: none;
}
/* nav toggle NAV BAR DROPDOWN */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #f2c40f;
}
/* main content */
main {
    background-color: #f2c40f;
    /* make main elemnt take up any surplus */
    flex: 1 0 auto;
}
/* footer */
footer {
    background-color: black;
}