/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap');

/* wildcard selector to override default */
* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* gerneral styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "zen dots", amaranth;
}
/* header */
header {
    background-color: white;
    padding: 0 2rem;
    position: relative;
    z-index: 98;
    width: 100%;
    box-shadow: 0 3px 3px white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Zen dots";
    color: #f2c40f;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#menu {
    font-size: 100%;
    letter-spacing: 3px;
    color: #f2c40f;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid black;
}

nav {
    position: absolute;
    background-color: black;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #f2c40f;
    display: none;
    top: 100%;
}
/* nav toggle NAV BAR DROPDOWN */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #f2c40f;
}
/* main content */
main {
    /* make main elemnt take up any surplus */
    flex: 1 0 auto;
    margin-top: 47px;
}
/* SEO image */
#seo-image {
    height: 600px;
    width: 100%;
    background: url("../images/image1yellow.jpg") no-repeat center center/cover;
}
/* footer */
#social-media {
    text-align: center;   
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: white;
}
/* social media icons */
#social-media i {
    font-size: 200%;
    padding: 2%;
    color: black;
}
/* media query for brak points tables of 768px and larger ( note for HEADER )*/
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
        background-color: white;  
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 270%;
        line-height: 60px;
        margin: 0 0.5rem;
    }
    
}

/* large devices of 992 and above */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #f2c40f;
    }
}
